
body{
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Merriweather', serif;  
}
h3{
    font-family: 'Merriweather', serif;
}
hr{
    border: none;
    border-top: dotted;
    color: #AD7BE9;
    border-width: 5px;
    width: 5%;
}
.hey{
    text-decoration-line: underline;
}

.Top-container{
    background-color: #e4f9f5;
    padding-top : 150px;
    position: relative;
}

.middle-container{
    background-color: #BFDCE5;
}
.bottom-container{
    background-color: powderblue;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.other-cloud{
    position: absolute;
    left: 300px;
}
